<h1>Meet <%=@animal.name %> </h1>
<ul>
  <li>Species: <%= @animal.species.capitalize %></li>
  <li>Owner: <!-- OWNER HERE --></li>
</ul>

<!-- ADOPT ANIMAL -->
<img src="<%=@animal.photo%>">

<!-- GIVE ANIMAL TOY -->